/*Header MAIN style*/
.header {
  background-image: url("../img/about.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-size: cover;
  width: 100%;
  min-height: 640px;
  padding-top:40px;

  .header-top {

    .menuButton {
      display: inline-block;
      vertical-align:top;
      //background: red;
      width: 100%;
      max-width: 30px;
      height: 30px;
      float: right;

      li {
        width: 30px;
        height: 2px;
        background: $menutopcolor;
        margin-top: 4px;
        margin-bottom: 4px;
        display: inline-block;
        vertical-align: top;
      }





    }

    .logo {
      background: url("../img/logo.png");
      background-repeat: no-repeat;
      width: 175px;
      height: 40px;
      background-size: contain;
      display: inline-block;
    }

    .menuTop {

      .menu-item {
        display: inline-block;
        vertical-align: top;
        padding: 0px 20px;

        a {
          text-decoration: none;
          color:$menutopcolor;
          font-size: 16px;
          font-family: 'Ubuntu';
          display: inline-block;
          vertical-align: top;

          line-height: 19px;
          text-transform: capitalize;


        }
      }
    }

    .language {
      position: relative;

      label {
        background: url("../img/icons.png");
        background-repeat: no-repeat;
        width: 16px;
        height: 16px;
        display: inline;
        position: absolute;
        left: 0px;
        top:50%;
        transform: translate(-50%,-50%);

      }

      select {



      }
    }

  }


}
